.navbar {
  background-color: #2365e9;
  color: white;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 120px;
}

.navbar-links {
  display: flex;
  gap: 16px;
}

.navbar-link {
  color: rgb(0, 0, 0);
  font-weight: 800;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.navbar-link:hover {
  opacity: 0.7;
}
